h1 {
    color: 	#ff0000;
    font-size: 40px;
}

.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}

#myCanvas {
    border-width: 10px;
    background-color: #ffffff;
    border-style: ridge;
}